<?xml version="1.0" encoding="utf-8"?>
<ExplorerFolder xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ExplorerFolderDataObject xmlns:q1="http://microsoft.com/wsdl/types/" xsi:type="q1:guid">bfbfc032-b0cd-4125-9486-9481585a4645</ExplorerFolderDataObject>
</ExplorerFolder>