<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Styles"></sectionGroup>
    <sectionGroup name="Data"></sectionGroup>
    <sectionGroup name="Plugins"></sectionGroup>
    <sectionGroup name="View3D"></sectionGroup>
    <sectionGroup name="Debug"></sectionGroup>
  </configSections>
  <Styles>
    <UIAnimation>
      <Enabled>False</Enabled>
    </UIAnimation>
    <PolygoneStyle>
      <!-- Non plugin specific default - it is used if not overriden in the plugin specific default-->
      <Default>Solid</Default>
      <!-- Plugin specific defaults-->
      <Plugin PluginType="ptSurface">TexturedWithField</Plugin>
      <Plugin PluginType="ptSimulationDomain">Solid</Plugin>
      <Plugin PluginType="ptHorizon">TexturedWithField</Plugin>
      <Plugin PluginType="ptMap">Mapped</Plugin>
    </PolygoneStyle>
    <PointStyle>
      <Default>Simplified</Default>
      <Plugin PluginType="ptPoints">Standard</Plugin>
    </PointStyle>
    <SurfaceStyle>
      <SurfaceMode>Solid</SurfaceMode>
    </SurfaceStyle>
    <ColorPalette>
      <Default>
        <Color>255, 255, 0,    0</Color>
        <Color>255, 255, 51,   0</Color>
        <Color>255, 255, 77,   0</Color>
        <Color>255, 255, 98,   0</Color>
        <Color>255, 255, 123,  0</Color>
        <Color>255, 255, 145,  0</Color>
        <Color>255, 255, 162,  0</Color>
        <Color>255, 255, 187,  0</Color>
        <Color>255, 255, 208,  0</Color>
        <Color>255, 255, 255,  0</Color>
        <Color>255, 255, 247,  0</Color>
        <Color>255, 248, 255,  38</Color>
        <Color>255, 236, 255,  64</Color>
        <Color>255, 222, 255,  89</Color>
        <Color>255, 205, 255,  153</Color>
        <Color>255, 192, 255,  133</Color>
        <Color>255, 172, 255,  153</Color>
        <Color>255, 153, 255,  173</Color>
        <Color>255, 130, 255,  197</Color>
        <Color>255, 99,  255,  219</Color>
        <Color>255, 64,  255,  239</Color>
        <Color>255, 15,  251,  255</Color>
        <Color>255, 38,  222,  255</Color>
        <Color>255, 48,  200,  255</Color>
        <Color>255, 56,  175,  255</Color>
        <Color>255, 59,  150,  255</Color>
        <Color>255, 59,  131,  255</Color>
        <Color>255, 56,  106,  255</Color>
        <Color>255, 51,  85,   255</Color>
        <Color>255, 43,  65,   255</Color>
        <Color>255, 31,  42,   255</Color>
        <Color>255, 8,   8,    255</Color>
      </Default>
    </ColorPalette>
    <ChildGrid>
      <ColorPalette>
        <Color>255, 255, 0,    0 </Color>
        <Color>255, 255, 146,  0 </Color>
        <Color>255, 255, 208,  0 </Color>
        <Color>255, 206, 255,  0 </Color>
        <Color>255, 143, 255,  0 </Color>
        <Color>255, 0, 255,  185 </Color>
        <Color>255, 0, 200,  255 </Color>
        <Color>255, 0, 133,  255 </Color>
        <Color>255, 163, 0,  255 </Color>
        <Color>255, 255, 0,  255 </Color>
      </ColorPalette>
    </ChildGrid>
    <PropertyTable Path="/Vertices/General">
      <Property Name="ShowAllOption">
        <Default>false</Default>
        <Plugin PluginType="ptPoint">
          <Default>true</Default>
          <Elem Path="/Style/Vertices/General">true</Elem>
        </Plugin>
      </Property>
    </PropertyTable>
  </Styles>
  <Data>
    <Nan>1e30</Nan>
    <Nan>-999</Nan>
    <Nan>-9999</Nan>
    <Elevation>
      <Nan>1e30</Nan>
    </Elevation>
  </Data>
  <Plugins>
    <!--list of data plug-ins-->
    <DataPlugins>
      <PluginTypes>
        <PluginType>ptPoint</PluginType>
        <PluginType>ptPolygon</PluginType>
        <PluginType>ptSurface</PluginType>
        <PluginType>ptPolyline</PluginType>
        <PluginType>ptWell</PluginType>
        <PluginType>ptTimeSchedule</PluginType>
        <PluginType>ptFakeWell</PluginType>
        <PluginType>ptCrossSection</PluginType>
        <PluginType>ptMap</PluginType>
        <PluginType>ptDataCube</PluginType>
        <PluginType>ptPillarSurface</PluginType>
        <PluginType>ptDataMesh</PluginType>
        <PluginType>ptUsgInputPlugin</PluginType>
        <PluginType>ptDxfPlugin</PluginType>
      </PluginTypes>
      <Plugin PluginType="ptSurface">
        <VirtualGrid>
          <MaxSize>
            60
          </MaxSize>
          <LowQuality>60</LowQuality>
          <MediumQuality>100</MediumQuality>
          <HighQuality>160</HighQuality>
        </VirtualGrid>
      </Plugin>
      <Plugin PluginType="ptHorizon">
        <Triangulation>
          <LowQuality>60</LowQuality>
          <MediumQuality>100</MediumQuality>
          <HighQuality>160</HighQuality>
          <CurrentQuality>100</CurrentQuality>
          <MaxQuality>1000</MaxQuality>
        </Triangulation>
      </Plugin>
    </DataPlugins>
    <!--list of viewer plug-ins-->
    <ViewerPlugins>
      <PluginTypes>
        <PluginType>pt3DView</PluginType>
        <PluginType>pt2DView</PluginType>
        <PluginType>ptCompositeView</PluginType>
        <PluginType>ptDotSpatial2DView</PluginType>
        <PluginType>ptTimeSeriesView</PluginType>
      </PluginTypes>
      <Plugin PluginType="pt3DView">
        <CanShow>
          <PluginType>ptGroupSelectionPlugin</PluginType>
          <PluginType>ptPoint</PluginType>
          <PluginType>ptPolygon</PluginType>
          <PluginType>ptSurface</PluginType>
          <PluginType>ptMap</PluginType>
          <PluginType>ptHorizon</PluginType>
          <PluginType>ptHorizonContainer</PluginType>
          <PluginType>ptStructuralZone</PluginType>
          <PluginType>ptStructuralZoneContainer</PluginType>
          <PluginType>ptPropertyZone</PluginType>
          <PluginType>ptPolyline</PluginType>
          <PluginType>ptSimulationDomain</PluginType>
          <PluginType>ptModelBoundary</PluginType>
          <PluginType>ptRechargeBC</PluginType>
          <PluginType>ptRiver</PluginType>
          <PluginType>ptGeneralHead</PluginType>
          <PluginType>ptConstantHeaderBC</PluginType>
          <PluginType>ptDrain</PluginType>
          <PluginType>ptEVT</PluginType>
          <PluginType>ptLake</PluginType>
          <PluginType>ptSpecifiedFlux</PluginType>
          <PluginType>ptPillarSurface</PluginType>
          <PluginType>ptWell</PluginType>
          <PluginType>ptCrossSection</PluginType>
          <PluginType>ptPumpingWells</PluginType>
          <PluginType>ptDataCube</PluginType>
          <PluginType>ptGeneralHead3D</PluginType>
          <PluginType>ptSpecifiedFlux3D</PluginType>
          <PluginType>ptConstHeadBC3D</PluginType>
          <PluginType>ptDataMesh</PluginType>
          <PluginType>ptPilotPoint</PluginType>
          <PluginType>ptPestZone</PluginType>
          <PluginType>ptCellBCZonePlugin</PluginType>
          <PluginType>ptHeadsOutputPlugin</PluginType>
          <PluginType>ptFluxOutputPlugin</PluginType>
          <PluginType>ptGriddedInputPlugin</PluginType>
          <PluginType>ptGriddedOutputPlugin</PluginType>
          <PluginType>ptParticlesPlugin</PluginType>
          <PluginType>ptPathLinesPlugin</PluginType>
          <PluginType>ptSurfaceWaterPlugin</PluginType>
	        <PluginType>ptUsgWaterTablePlugin</PluginType>
          <PluginType>ptSurfaceWaterZonePlugin</PluginType>
          <PluginType>ptTransientGeometryZonePlugin</PluginType>
          <PluginType>ptObservations</PluginType>
          <PluginType>ptUsgInputPlugin</PluginType>
          <PluginType>ptUsgBoundariesPlugin</PluginType>
          <PluginType>ptUsgPropertiesPlugin</PluginType>
          <PluginType>ptUsgOutputPlugin</PluginType>
          <PluginType>ptCellFacePlugin</PluginType>
          <PluginType>ptWallPlugin</PluginType>
          <PluginType>ptWellSetPlugin</PluginType>
          <PluginType>ptWaterTablePlugin</PluginType>
          <PluginType>ptBasicWellPlugin</PluginType>
          <PluginType>ptFracturedWellPlugin</PluginType>
          <PluginType>ptMultiNodeWellPlugin</PluginType>
          <PluginType>ptClnWellPlugin</PluginType>
          <PluginType>ptWellRealizationPlugin</PluginType>
          <PluginType>ptDxfPlugin</PluginType>
          <PluginType>ptWellFacadePlugin</PluginType>
          <PluginType>ptVelocityOutputPlugin</PluginType>
          <PluginType>ptUsgVelocityOutputPlugin</PluginType>
        </CanShow>
      </Plugin>
      <Plugin PluginType="pt2DView">
        <CanShow>
          <PluginType>ptMap</PluginType>
          <PluginType>ptPoint</PluginType>
          <PluginType>ptPolygon</PluginType>
          <PluginType>ptPolyline</PluginType>
          <PluginType>ptSurface</PluginType>
          <PluginType>ptModelBoundary</PluginType>
          <PluginType>ptWell</PluginType>
          <PluginType>ptPumpingWells</PluginType>
          <PluginType>ptRechargeBC</PluginType>
          <PluginType>ptRiver</PluginType>
          <PluginType>ptGeneralHead</PluginType>
          <PluginType>ptConstantHeaderBC</PluginType>
          <PluginType>ptDrain</PluginType>
          <PluginType>ptEVT</PluginType>
          <PluginType>ptLake</PluginType>
          <PluginType>ptSpecifiedFlux</PluginType>
          <PluginType>ptDataMesh</PluginType>
          <PluginType>ptPilotPoint</PluginType>
          <PluginType>ptSurfaceWaterPlugin</PluginType>
          <PluginType>ptSurfaceWaterZonePlugin</PluginType>
          <PluginType>ptTransientGeometryZonePlugin</PluginType>
          <PluginType>ptObservations</PluginType>
          <PluginType>ptWaterTablePlugin</PluginType>
          <PluginType>ptBasicWellPlugin</PluginType>
          <PluginType>ptWellRealizationPlugin</PluginType>
          <PluginType>ptDxfPlugin</PluginType>
          <PluginType>ptWellFacadePlugin</PluginType>
          <!--<PluginType>ptUsgInputPlugin</PluginType>-->
          TODO: <PluginType>ptVelocityOutputPlugin</PluginType>
        </CanShow>
        <MaxZoom>1e7</MaxZoom>
      </Plugin>
      <Plugin PluginType="ptCompositeView">
        <CanShow>
          <PluginType>ptMap</PluginType>
          <PluginType>ptPoint</PluginType>
          <PluginType>ptPolygon</PluginType>
          <PluginType>ptPolyline</PluginType>
          <PluginType>ptSurface</PluginType>
          <PluginType>ptModelBoundary</PluginType>
          <PluginType>ptWell</PluginType>
          <PluginType>ptPumpingWells</PluginType>
          <PluginType>ptRechargeBC</PluginType>
          <PluginType>ptRiver</PluginType>
          <PluginType>ptGeneralHead</PluginType>
          <PluginType>ptConstantHeaderBC</PluginType>
          <PluginType>ptDrain</PluginType>
          <PluginType>ptEVT</PluginType>
          <PluginType>ptLake</PluginType>
          <PluginType>ptSpecifiedFlux</PluginType>
          <PluginType>ptDataMesh</PluginType>
          <PluginType>ptPilotPoint</PluginType>
          <PluginType>ptHeadsOutputPlugin</PluginType>
          <PluginType>ptGriddedInputPlugin</PluginType>
          <PluginType>ptGriddedOutputPlugin</PluginType>
          <PluginType>ptPathLinesPlugin</PluginType>
          <pluginType>ptCellBCZonePlugin</pluginType>
          <PluginType>ptSurfaceWaterPlugin</PluginType>
          <PluginType>ptSurfaceWaterZonePlugin</PluginType>
          <PluginType>ptTransientGeometryZonePlugin</PluginType>
          <pluginType>ptParticlesPlugin</pluginType>
          <pluginType>ptDataCube</pluginType>
          <pluginType>ptGroupSelectionPlugin</pluginType>
          <PluginType>ptObservations</PluginType>
          <PluginType>ptUsgInputPlugin</PluginType>
          <PluginType>ptWaterTablePlugin</PluginType>
          <PluginType>ptBasicWellPlugin</PluginType>
          <PluginType>ptWellRealizationPlugin</PluginType>
          <PluginType>ptDxfPlugin</PluginType>
          <PluginType>ptWellFacadePlugin</PluginType>
          <PluginType>ptVelocityOutputPlugin</PluginType>
        </CanShow>
      </Plugin>
      <Plugin PluginType="ptDotSpatial2DView">
        <CanShow>
          <PluginType>ptPoint</PluginType>
          <PluginType>ptPolygon</PluginType>
          <PluginType>ptPolyline</PluginType>
        </CanShow>
      </Plugin>
      <Plugin PluginType="ptTimeSeriesView">
        <CanShow>
          <PluginType>ptTimeSeriesOutputPlugin</PluginType>
          <PluginType>ptHeadsOutputPlugin</PluginType>
        </CanShow>
      </Plugin>
    </ViewerPlugins>
  </Plugins>
  <View3D>
    <Parallel> true </Parallel>
    <OpenGL>
      <Driver> Hardware </Driver>
    </OpenGL>
    <Cache>
      <Timeout>120</Timeout>
    </Cache>
    <DefaultSceneParams>aaaa</DefaultSceneParams>
  </View3D>
  <Algorithm>
    <Threshold>0.000001</Threshold>
  </Algorithm>
  <Debug>
    <Define>Debug</Define>
    <Plugin PluginType="ptSimulationDomain">
      <Define>Debug</Define>
    </Plugin>
  </Debug>
</configuration>
